x64/
Music/
Debug/
Release/
Temp/
vcpkg_installed/
.vs/
vcpkg_installed/
*.obj
*.log
*.ilk
*.pdb
*.ob
*.idb
*.recipe
*.tlog
*.log
*.DotSettings
*.csproj
*.pidb
*.suo
*.unityproj
*.user
*.userprefs
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so
*.a
*.pyc
*.pyo
pycache/
*.rej
*.swp
*.DS_Store
packages/
*.lib
src/Resources/Models/TestMap/Map2Scene.map.mesh
src/Resources/Assets/MapData/SampleScene/building_dummy3_hanna.fbx
src/Resources/Models/MapData/SampleScene/building_dummy3_hanna.mesh
src/Resources/Textures/MapData/SampleScene/building_dummy3_hanna.xml
output.zip
output/
src/Resources/Assets/MapData/1st_test bake/-----hanna-----.fbx
src/Resources/Assets/MapData/1st_test bake/Untitled.fbx
src/Resources/Assets/MapData/1_HN_Scene2/Untitled.fbx
DebugExE/
src/Resources/Textures/SkyBox/NightStormMoonGlow.dds
Resources/Textures/SkyBox/NightStormMoonGlow.dds
